.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  margin: 0;
  padding: 0;
  min-height: 60vh;
  width: 100%;


}


.search_container {
  position: relative;
}

.search_bar {
  width: 1320px;
  padding: 10px;
  border: 1px solid rgb(61, 58, 58);
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  background-color: rgb(61, 58, 58);
}



.search_box {
  margin-top: 2rem;
  width: 1300px;
  padding: 20px 70px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgb(52, 43, 43);
  box-shadow: 0 2px 4px rgba(28, 27, 27, 0.1);
  height: 150px;
  justify-content: space-between;
  overflow: hidden;
}

.filter {
  display: inline-block;
}

.search_filter {
  color: white;
  position: absolute;
  margin-top: 0px;
  display: flex;
  gap: 10px;
  font-size: 20px;

}



.Reset_filter {
  float: right;
  padding: 20px 0px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(52, 43, 43);
  color: #fff;
  border: none;
}

.search_select {
  background-color: rgb(61, 58, 58);
  width: 400px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  border: 1px solid rgb(61, 58, 58);
  padding: 10px;
  color: white;
}

.search_number {
  background-color: rgb(61, 58, 58);
  width: 400px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  border: 1px solid rgb(61, 58, 58);
  padding: 10px;
  color: white;
}

.search_dropdown {
  position: absolute;
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

/* Product Card */

.PCmainheadinghr {
  border: 2px solid palevioletred;
  margin: 20px 0px;
  width: 05rem;

}

.PCCardContainer {
  display: flex;
  gap: 2rem;
}

.PCCard {
  background-color: rgb(59, 54, 54);
  border-radius: 1rem;
  border: solid 0.2rem gray;
  width: 20rem;
  height: 24rem;
}




.PCimage {
  width: 18.2rem;
  height: 12rem;
  padding: 0.8rem;
  border-radius: 0.8rem 0.9rem 0rem 0rem;
  border: solid 0.2rem gray;

}

.PCcardcontent {
  margin-left: 1rem;
}

.PCbutton {
  background-color: palevioletred;
  border: solid palevioletred;
  border-radius: 0.4rem;
  width: 18rem;
  color: white;
}

.PCtitle {
  margin-top: -1rem;
  font-size: .8rem;
}

/*login and signup css */
.signupcontainer {
  height: 100vh;
  width: 100%;
  background-color: #bbbbbb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  max-width: 29rem;
  width: 90%;
  transform: translate(-50%, -50%);
  background: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  padding: 3.5rem 3.7rem 4.2rem;
  text-align: center;
}

.form-box h1 {
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
  color: #0d0c0c;
  position: center;
}

.input-login {
  background: #eaeaea;
  margin: 15px;
  border-radius: 3px;
}

.input {
  width: 100%;
  background: transparent;
  border: 1%;
  outline: 1%;
  padding: 1rem 1rem;

}

.btn {
  width: 100%;
  margin-top: 0.5rem;
  background-color: #e91e;
  border: none;
  border-radius: 5px;
  height: 2rem;
  color: white;

}

.btn button {
  width: 100%;
  background-color: #e91e;
  color: #fff;
  height: 2rem;
  border: 0;
  outline: 0;
  cursor: pointer;

}

.Login {
  height: 100vh;
  width: 100%;
  background-color: #bbbbbb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formbox {
  max-width: 29rem;
  width: 90%;
  transform: translate(-50%, -50%);
  background: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  padding: 3.5rem 3.7rem 4.2rem;
  text-align: center;
}

.formbox h1 {
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
  color: #0d0c0c;
  position: center;
}

.input-login1 {
  background: #eaeaea;
  margin: 15px;
  border-radius: 3px;
}

.input {
  width: 100%;
  background: transparent;
  border: 1%;
  outline: 1%;
  padding: 1rem 1rem;

}

.btn2 {
  width: 100%;
  margin-top: 0.5rem;
  background-color: #e91e;
  border: none;
  border-radius: 5px;
  height: 2rem;
  color: white;

}

.btn2 button {
  width: 100%;
  background-color: #e91e;
  color: #fff;
  height: 2rem;
  border: 0;
  outline: 0;
  cursor: pointer;

}