.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  margin: 0;
  padding: 0;
  min-height: 60vh;
  width: 100%;


}


.search_container {
  position: relative;
}

.search_bar {
  width: 1320px;
  padding: 10px;
  border: 1px solid rgb(61, 58, 58);
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  background-color: rgb(61, 58, 58);
  color: white;
}



.search_box {
  margin-top: 2rem;
  width: 1300px;
  padding: 20px 70px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgb(52, 43, 43);
  box-shadow: 0 2px 4px rgba(28, 27, 27, 0.1);
  height: 150px;
  justify-content: space-between;
  overflow: hidden;
}

.filter {
  display: inline-block;
}

.search_filter {
  color: white;
  position: absolute;
  margin-top: 0px;
  display: flex;
  gap: 10px;
  font-size: 20px;

}



.Reset_filter {
  float: right;
  padding: 20px 0px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(52, 43, 43);
  color: #fff;
  border: none;
}

.search_select {
  background-color: rgb(61, 58, 58);
  width: 400px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  border: 1px solid rgb(61, 58, 58);
  padding: 10px;
  color: white;
  cursor: pointer;
}

.search_number {
  background-color: rgb(61, 58, 58);
  width: 400px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  border: 1px solid rgb(61, 58, 58);
  padding: 10px;
  color: white;
  cursor: pointer;
}

.search_dropdown {
  position: absolute;
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

/* Product Card */
.ProductCard {
  margin-bottom: 1rem;
}

.PCmainheadinghr {
  border: 2px solid palevioletred;
  margin: 20px 0px;
  width: 05rem;

}

.PCCardContainer {
  display: flex;
  gap: 2rem;
}

.PCCard {
  background-color: rgb(59, 54, 54);
  border-radius: 1rem;
  border: solid 0.2rem gray;
  width: 20rem;
  height: 25rem;
}




.PCimage {
  width: 18.2rem;
  height: 12rem;
  padding: 0.8rem;
  border-radius: 0.8rem 0.9rem 0rem 0rem;
  border: solid 0.2rem gray;


}

.PCcardcontent {
  margin-left: 1rem;
}

.PCbutton {
  background-color: palevioletred;
  border: solid palevioletred;
  border-radius: 0.4rem;
  width: 18rem;
  color: white;
  padding: .5rem;
  cursor: pointer;
}

.PCtitle {
  margin-top: -1rem;
  font-size: .8rem;
}

/*login and signup css */
.signupcontainer {
  height: 62.5vh;
  display: flex;
  justify-content: center;

}

.form_box {
  max-width: 20rem;
  width: 90%;
  transform: translate(-50%, -50%);
  background: #fff;
  top: 40%;
  left: 50%;
  position: absolute;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;

}

.form_box h1 {
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
  color: #0d0c0c;
  position: center;
}

.input {
  width: 80%;

  background: transparent;
  margin: .5rem;
  border-radius: .5rem;
  border: 1px solid #000;
  padding: .6rem;



}


.btn button {
  width: 90%;
  background-color: #e91e;
  color: #fff;
  height: 2.3rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-top: .5rem;
  border-radius: .5rem;
  font-size: 1.5rem;


}

.field p {
  color: #0d0c0c;
}

.SignupLink {
  text-decoration: none;
  color: red;
}

/*Track*/

.maintrack {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

.TrackBag {
  background-color: rgb(59, 54, 54);
  border-radius: 0.6rem;
  border: solid 0.2rem gray;
  width: 27rem;
  height: 10rem;
}

.TrackBaglogo {
  text-align: center;
  color: palevioletred;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;


}

.TrackBagHead {
  text-align: center;
  font-weight: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

}

.TrackBagContent {
  text-align: center;
  font-size: 0.8rem;

}

/*Testimonial*/

.Testimonialheading {
  text-align: center;
}

.Testimonialsubheading {
  text-align: center;

}

.Testimonialcontent {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  text-align: center;
}

.TestimonialSPD {
  width: 30rem;
}

.TestimonialSPDlogo {
  color: rgb(59, 59, 165);
}

.TestimonialUID {
  width: 30rem;
}

.TestimonialUIDlogo {
  color: rgb(96, 52, 66);
}

.TestimonialCTO {
  width: 30rem;
}

.TestimonialCTOlogo {
  color: rgb(0, 128, 255);
}

.TestimonialUIDhr {
  width: 3rem;
  border: 2px solid palevioletred;
  border-radius: 1rem;

}

.TestimonialUIDname {
  color: rgb(208, 79, 122);

}

.TestimonialUIDabout {
  margin-bottom: 4rem;
  margin-top: 0.1rem;
}

/*Admin*/
.AdminContainer {
  display: flex;
  justify-content: center;
}

.mainAdmin {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  width: 80rem;
  height: 12rem;
  align-items: center;

}

.AdminBag {
  background-color: rgb(59, 54, 54);
  border-radius: 0.6rem;
  border: solid 0.2rem gray;
  width: 27rem;
  height: 10rem;
}

.AdminBaglogo {
  text-align: center;
  color: rgb(180, 83, 204);
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;


}

.AdminBagHead {
  text-align: center;
  font-weight: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

}

.AdminBagContent {
  text-align: center;
  font-size: 0.9rem;
}

.AdminButton {
  display: flex;
  gap: 2rem;
  margin-left: 47rem;
}

.AdminProductButton {
  width: 8rem;
  color: rgb(180, 83, 204);
  background-color: rgb(59, 54, 54);
  border-radius: 0.6rem;
  border-color: rgb(59, 54, 54) rgb(59, 54, 54) rgb(180, 83, 204) rgb(59, 54, 54);
  font-size: 1.2rem;
  cursor: pointer;
}

.AdminOrderButton {
  width: 7rem;
  color: palevioletred;
  background-color: rgb(59, 54, 54);
  border-radius: 0.6rem;
  font-size: 1.2rem;
  border-color: rgb(59, 54, 54) rgb(59, 54, 54) palevioletred rgb(59, 54, 54);
  cursor: pointer;
}

.AdminUsersButton {
  width: 7rem;
  color: green;
  background-color: rgb(59, 54, 54);
  border-radius: 0.6rem;
  font-size: 1.2rem;
  border-color: rgb(59, 54, 54) rgb(59, 54, 54) rgb(38, 213, 38) rgb(59, 54, 54);
  cursor: pointer;
}

.AdminEditButton {
  color: #fff;
}

/*Product */
.ProductHeading {
  text-align: center;
  text-decoration-line: underline;
  margin-top: 3rem;
}

.productAdd {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  margin-right: 14.5rem;
}


.ProductButton {

  background-color: rgb(59, 54, 54);
  border: solid gray 0.1rem;
  color: white;
  border-radius: 0.3rem;
  padding: 0.6rem;
  width: 9rem;
  text-align: center;
  cursor: pointer;

}

.ProductTable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductTableContent {
  border-collapse: collapse;
  background-color: rgb(59, 54, 54);
  width: 90rem;
  margin-top: 1rem;
}

.ProductTableHeading {
  border: 0.1rem solid gray;
  text-align: left;
}

.ProductTableImage {
  width: 3rem;
  height: 2rem;
}

.ProductTableData {
  font-size: 1rem;
}

/*Order */
.OrderHeading {
  text-align: center;
  text-decoration-line: underline;
  margin-top: 3rem;
}

.OrderTable {
  display: flex;
  justify-content: center;
}


.OrderTableContent {
  border-collapse: collapse;
  background-color: rgb(59, 54, 54);
  width: 90rem;
  margin-top: 2rem;


}

.OrderTableHeading {
  border: 0.1rem solid gray;
  text-align: left;
}

.OrderTableImage {
  width: 3rem;
  height: 2rem;
}

.OrderTableData {
  font-size: 1rem;
}

/*User */
.UserHeading {
  text-align: center;
  text-decoration-line: underline;
  margin-top: 1rem;
}

.UserTable {
  display: flex;
  justify-content: center;
}


.UserTableContent {
  border-collapse: collapse;
  background-color: rgb(59, 54, 54);
  width: 90rem;
  margin-top: 2rem;
  margin-bottom: 3rem;


}

.UserTableHeading {
  border: 0.1rem solid gray;
  text-align: left;
}

.UserTableData {
  font-size: 1rem;
}

/* Cart */
.cartContainer {
  margin-bottom: 11rem;
}

.Cartheading {
  font-size: 3rem;
  text-align: center;
  justify-content: center;
}

.cart {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
}

.cartLeft {
  display: flex;
}

.leftcontainer {
  display: flex;
  padding: 1rem;
  background-color: #332f2f;
  border-radius: 1rem;
  display: flex;
  width: 40rem;
  height: 12rem;
}

.leftcontainer img {
  border-radius: .8rem;
}

.cartcantainerdetails {
  padding-left: 1rem;
}

.desc {
  margin-top: -.5rem;

}

.price {
  margin-top: -.5rem;

}

.cartDelete {
  font-size: 1.5rem;
  margin-left: -2.5rem;
  margin-top: 1rem;
}

.cartcontainer1 {
  display: flex;
  background-color: #332f2f;
  flex-direction: column;
  width: 20rem;
  height: 15rem;
  border: 1px solid black;
  color: #fff;
  border-radius: 1rem;
}

.cartpara {
  display: flex;
  justify-content: space-around;

}

.cartpara1 {
  display: flex;
  justify-content: space-around;

}

.cartpara2 {
  display: flex;
  justify-content: space-around;

}

.cartunderline {
  width: 80%;
}

.cartbutton {
  display: flex;
  justify-content: center;
  align-items: center;

}

.Cartbutton {
  background-color: blueviolet;
  border-radius: .5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  width: 16rem;
  height: 2rem;

}

/*AddProduct*/
.AddProductContainer {
  background-color: rgb(59, 54, 54);
  border-radius: 1rem;
  width: 20rem;
  height: 32rem;
  margin: auto;
  margin-bottom: 2rem;


}

.AddProductHeading {
  text-align: center;
  padding-top: 3rem;
}

.AddProductAbout {
  background-color: rgb(91, 80, 80);
  border-radius: 0.4rem;
  border: rgb(91, 80, 80);
  margin-left: 1rem;
  width: 18rem;
  height: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: white;


}

.AddProductTextArea {
  background-color: rgb(91, 80, 80);
  margin-left: 1rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: rgb(91, 80, 80);
  color: white;
}

.AddProductButton {
  background-color: rgb(188, 150, 44);
  border: solid rgb(188, 150, 44);
  border-radius: 0.4rem;
  width: 18rem;
  color: black;
  margin-left: 1rem;
  padding: 0.7rem;
}

/*model*/
.container_form {
  position: relative;
  top: 8rem;
  margin: 10rem;
  margin-left: 38rem;
  background-color: white;
  height: 26rem;
  width: 20rem;
  margin-top: 1rem;
  border-radius: 1rem;
  font-weight: 700;

}

.abc {
  position: relative;
  top: 0.5rem;
}

.fullname {

  border-radius: .4rem;
  margin-left: .5rem;
  height: 2rem;
  width: 18rem;
}

.address {
  border-radius: .4rem;
  margin-left: .5rem;
  height: 2rem;
  width: 18rem;
}

.Mo.numbe {
  border-radius: .4rem;
  margin-left: .5rem;
  height: 2rem;
  width: 18rem;
}

.pinnumber {
  border-radius: .4rem;
  margin-left: .5rem;
  height: 2rem;
  width: 18rem;
}

.mobile_no {
  border-radius: .4rem;
  margin-left: .5rem;
  height: 2rem;
  width: 18rem;
}

.Modalbutton {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  height: 2rem;
  width: 18rem;
  border-radius: .4rem;
  text-align: center;
  align-items: center;
  margin-left: 1rem;
  background-color: blueviolet;
}

/*contact*/
.containerform {
  position: relative;
  top: 8rem;
  margin: 10rem;
  margin-left: 38rem;
  background-color: white;
  height: 28rem;
  width: 30rem;
  margin-top: 1rem;
  border-radius: 1rem;
  font-weight: 700;
}

.Cartheading {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.fullname {
  border-radius: 1rem;
  margin-left: .5rem;
  height: 2rem;
  width: 25rem;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}

.email {
  border-radius: 1rem;
  margin-left: .5rem;
  height: 2rem;
  width: 25rem;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}

.number {
  border-radius: 1rem;
  margin-left: .5rem;
  height: 2rem;
  width: 25rem;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}

.query {
  border-radius: .8rem;
  height: 4rem;
  width: 22.5rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
}

.Contactbutton {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  height: 2rem;
  width: 16rem;
  border-radius: 1rem;
  text-align: center;
  align-items: center;
  margin-left: 8rem;
  background-color: blueviolet;
}

.contactus {

  text-align: center;
  align-items: center;
  margin-top: 1.5rem;
}

/* Product Info*/
.smallcontainer {
  margin: 6.25rem auto;
  width: 75%;
}

.PIimage {
  max-width: 18rem;
  float: left;
  border-radius: 0.1rem;
  margin-right: 1.8rem;
  border: 2rem solid black;
}

.col_2 h3 {
  font-size: 1.25rem;
  padding: 1.25rem;
  color: rgb(101, 99, 99);
  margin-top: 2rem;
}

.col_2 h4 {
  font-size: 1.12rem;
  padding: 1.25rem;
  color: #e91e;
}

.col_2 p {
  font-size: 1rem;
  padding: 1.25rem;
  color: #fff;

}

.col_2 p line {
  border-bottom: 2rem solid black;
  width: 2rem;
}

.col_2 button {
  padding: 1.25rem;
  color: black;
  background-color: #e91e;
  margin-top: 1.2rem;
  margin-left: 55rem;
}

/* About*/
.Aboutheading {
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem auto;
  padding: 5rem;
}

.Aboutheading h1 {
  font-size: 4rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.Aboutheading h1::after {
  content: "";
  width: 20%;
  height: 1.5rem;
  display: block;
  margin: 0 auto;
  background-color: #e91e;

}

.Aboutheading p {
  font-size: 2rem;
  color: black;
}

/* return */
.Returnheading {
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem auto;
  padding: 5rem;
}

.Returnheading h1 {
  font-size: 4rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.Returnheading h1::after {
  content: "";
  width: 20%;
  height: 1.5rem;
  display: block;
  margin: 0 auto;
  background-color: #e91e;

}

.Returnheading p {
  font-size: 2rem;
  color: black;
}